<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Exemplo</title>
</head>
<body>

<h1>Exemplo de integração com o Portal de Serviços</h1>

<p>
    Este conteúdo está fora do <code>div#servico</code> e não será apresentado na página do serviço.
</p>

<div id="servico">

    <th:block th:if="${name == null or name.isEmpty()}">
        <p>
            Qual seu nome?
        </p>

        <form action="/" method="GET">
            <input type="text" name="name"/>
            <button>OK</button>
        </form>
    </th:block>

    <th:block th:if="${name != null and !name.isEmpty()}">
        <p>
            Olá, <span th:text="${name}"></span>!
        </p>
    </th:block>

</div>

<p>
    Este conteúdo também está fora do <code>div#servico</code> e não será apresentado na página do serviço.
</p>

</body>
</html>
